@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  box-sizing: border-box;
}
.bg-body {
  background-image: url("../../img/bg/bg-1.jpg");
}
.login-text {
  text-align: center;
}
.login-card {
  font-family: "Joytix";
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  overflow: hidden;
  margin: 0;
}
.container-login {
  background-color: #0000007d;
  padding: 20px 40px;
  border-radius: 5px;
}

.gradient {
  background-image: linear-gradient(to bottom, #df3423, #d8842a, #ffd112);

  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
.container h1 {
  text-align: center;
}
.container a {
  text-decoration: none;
  color: #ffd112;
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #ffd112;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(0.98);
}
.text {
  margin-top: 30px;
}
.form-control-custom {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.form-control-custom input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #ffd112;
}
.form-control-custom input:focus,
.form-control-custom input:valid {
  outline: 0;
  border-bottom-color: #ffd112;
}
.form-control-custom label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
.form-control-custom label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control-custom input:focus + label span,
.form-control-custom input:valid + label span {
  color: #ffd112;
  transform: translateY(-30px);
}
.nav-upd {
  background-color: #212529;
  color: aliceblue;
  border: none;
}

.nav-upd:hover {
  background-color: #355b81;
  color: aliceblue;
  border: none;
}

.link {
  color: #ffd112;
  border: none;
  text-decoration: none;
}

.link:hover {
  background-image: linear-gradient(to bottom, #df3423, #d8842a, #ffd112);

  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
